<%- include("partials/header"); -%>

<div class="container">
    
    <h1 style="text-align: center;">ABOUT US</h1>
    <div style="margin: 3rem;">
    <p style="font-size: 3rem;"> <%= aboutContent %> </p>
    </div>

</div>
<div class="footer page">
  <i class="fab fa-twitter icon"></i>
  <i class="fab fa-facebook-f icon"></i>
  <i class="fab fa-instagram icon"></i>
  <i class="fas fa-envelope icon"></i>
  <p>Made with ❤️ by Gunjan</p>
</div>
</body>
</html>
