<%- include("partials/header"); -%>

<div class="home">
<section id="title">
<div class="intro">
    <h1 style="color: white;">Publish your writings, your way</h1>
    <h3>Note down your memories and events. It's easy and free</h3>

    <div class="image">
        <img src="https://user-images.githubusercontent.com/81305824/145671349-24af215d-1a65-4b8b-b1b7-23844b9c82c9.jpg" height="250px" width="350px">
    </div>

    <br>
    <br>
    <form action="/compose">
    <button type="submit" class="btn btn-warning">Create</button>
    </form>
    <br>
</div>

</section>

<%- include("partials/footer"); -%>
